<section>
  <h1>About Me</h1>
  <p><img class="gravatar" src="https://avatars0.githubusercontent.com/u/4277403?v=2&s=160"></p>
  <p id="bio">Ruby/Rails developer with a little experience in FP (Haskell), musician in the free time</p>
  <p id="social-links">
    <a href="https://github.com/merongivian"><img src="{{ root_url }}/images/github-icon.svg"></a>
    <a href="https://twitter.com/merongivian"><img src="{{ root_url }}/images/twitter-icon.svg"></a>
    <a href="https://www.linkedin.com/pub/jose-a%C3%B1asco-loor/52/a07/9"><img src="{{ root_url }}/images/linkedin-icon.svg"></a>
    <a href="https://soundcloud.com/merongivian"><img src="{{ root_url }}/images/soundcloud-icon.svg"></a>
  </p>
  <p>
    <a href="mailto:joseanasco1@gmail.com">Email me</a>
  </p>
</section>
