{% if page.date %}{% capture date %}{{ page.date_time_html }}{% endcapture %}{% endif %}
{% if post.date %}{% capture date %}{{ post.date_time_html }}{% endcapture %}{% endif %}

{% if page.updated %}{% capture updated %}{{ page.date_time_updated_html }}{% endcapture %}{% endif %}
{% if post.updated %}{% capture updated %}{{ post.date_time_updated_html }}{% endcapture %}{% endif %}

{% capture has_date %}{{ date | size }}{% endcapture %}
{% capture was_updated %}{{ updated | size }}{% endcapture %}

{% if has_date != '0' %}
{% capture time %}<span class="glyphicon glyphicon-calendar"></span> <time datetime="{{ date | datetime | date_to_xmlschema }}" {% if updated %} data-updated="true"{% endif %} itemprop="datePublished dateCreated">{{ date }}</time>{% endcapture %}
{% endif %}

{% if was_updated != '0' %}
  {% capture updated %}<span class="glyphicon glyphicon-calendar"></span> <time datetime="{{ updated | datetime | date_to_xmlschema }}" class="updated" itemprop="dateModified">Updated {{ updated }}</time>{% endcapture %}
{% else %}{% assign updated = false %}{% endif %}
