<script src="{{ root_url }}/javascripts/libs/jquery/jquery-2.0.3.min.js"></script>


<link href="{{ root_url }}/assets/bootstrap/dist/css/hover.css" rel="stylesheet" type="text/css">

<link href="{{ root_url }}/assets/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" type="text/css">
<link href="{{ root_url }}/assets/bootstrap/dist/css/bootstrap-united-theme.min.css" rel="stylesheet" type="text/css">

<link href="{{ root_url }}/assets/bootstrap/dist/css/custom.css" rel="stylesheet" type="text/css">
